.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
    padding: 0 20px;
}

.courses-row {
    margin: 5px 20px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.course-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s ease;
}

.course-image {
    width: 100%;
    height: 20vh;
    display: block;
    margin-bottom: 15px;
}

.course-card:hover {
    transform: translateY(-5px);
}


.view-course-link {
    font-weight: 700;
}

.create-course-form .form-input,
.create-course-form .form-textarea,
.create-course-form .form-select,
.create-course-submit-button {
    width: 100%;
}

.form-input::placeholder,
.form-textarea::placeholder,
.form-select::placeholder {
    font-weight: 600;
    color: rgb(133, 132, 132);
}

.create-course-form .form-submit-button {
    width: 100%;
}

.pagination-container {
    margin-bottom: 15px;
}

.empty-results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
}


@media only screen and (max-width: 1024px) {
    .all-courses-container {
        padding: 0 4%;
    }

    .courses-row {
        margin: 30px 0;
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 14px), 3fr));
    }
}

@media only screen and (max-width: 768px) {
    .all-courses-container {
        padding: 0 3%;
    }

    .courses-row {
        margin: 30px 0;
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1px), 1fr));
    }

    .create-course-button {
        width: 100%;
    }

    .pagination-container {
        justify-content: flex-end;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .all-courses-container {
        padding: 0 2%;
    }

    .courses-row {
        margin: 20px 0;
        grid-template-columns: 1fr;
    }

    .search-bar {
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 12px;
    }

    .pagination-container {
        justify-content: flex-end;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .all-courses-container {
        padding: 0 1%;
    }

    .course-image {
        height: 15vh;
    }
}

@media only screen and (max-width: 360px) {
    .all-courses-container {
        padding: 0 0.5%;
    }

    .course-image {
        height: 10vh;
    }
}