.single-assignment-container {
    margin-top: 70px;
    padding: 0 6%;
}

.single-assignment-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 20px;
    width: 70%;
}

.single-assignment-title {
    font-size: 26px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}

.single-assignment-description,
.single-assignment-course,
.single-assignment-deadline {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;
}

.single-assignment-description {
    font-style: italic;
    margin-bottom: 15px;
}

.single-assignment-course {
    font-weight: bold;
    color: #1890ff;
    margin-bottom: 15px;
}

.single-assignment-deadline {
    color: #d9534f;
    font-weight: bold;
}

.submissions-container {
    margin-top: 20px;
}

.ant-table {
    margin-top: 20px;
}

.ant-pagination {
    margin-top: 20px;
    text-align: right;
}

@media (max-width: 768px) {
    .single-assignment-card {
        padding: 20px;
    }

    .single-assignment-title {
        font-size: 22px;
    }

    .single-assignment-description,
    .single-assignment-course,
    .single-assignment-deadline {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .single-assignment-card {
        padding: 15px;
    }

    .single-assignment-title {
        font-size: 20px;
    }

    .single-assignment-description,
    .single-assignment-course,
    .single-assignment-deadline {
        font-size: 14px;
    }
}
