.chat-box {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 350px;
    height: 400px;
    background: #e8e8e8;
    padding: 15px;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.chat-header h3 {
    font-size: 1.2rem;
    color: #333;
}

.close-btn {
    background-color: #ff4d4f;
    border: none;
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-selector .ant-select {
    width: 100%;
}

.tab-selector .ant-select-selector {
    border-radius: 8px !important;
    font-size: 11.5px;
}

.message-container {
    position: relative;
    max-height: 300px;
    overflow-y: auto;
    font-size: 12px;
    line-height: 1.4;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-container p {
    margin-top: 20px;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 576px) {
    .chat-box {
        width: 90%;
        height: 60%;
        bottom: 10px;
        right: 5%;
    }
    .chat-header h3 {
        font-size: 1rem;
    }
    .close-btn {
        font-size: 18px;
    }
    .tab-selector .ant-select-selector {
        font-size: 10px;
    }
    .message-container {
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    .chat-header h3 {
        font-size: 1.1rem;
    }
    .close-btn {
        font-size: 19px;
    }
    .tab-selector .ant-select-selector {
        font-size: 11px;
    }
    .message-container {
        font-size: 11.5px;
    }
}

@media (max-width: 992px) {
    .chat-header h3 {
        font-size: 1.1rem;
    }
    .close-btn {
        font-size: 19px;
    }
    .tab-selector .ant-select-selector {
        font-size: 11.5px;
    }
    .message-container {
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    .chat-header h3 {
        font-size: 1.2rem;
    }
    .close-btn {
        font-size: 20px;
    }
    .tab-selector .ant-select-selector {
        font-size: 11.5px;
    }
    .message-container {
        font-size: 12px;
    }
}
