.single-course {
    padding: 14px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.single-course-card {
    width: 100%;
    max-width: 500px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
}

.single-course-name {
    font-size: 30px;
    color: #333;
    margin-bottom: 16px;
    text-align: center;
}

.single-course-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    word-wrap: break-word;
    overflow: hidden; 
    text-overflow: ellipsis;
    line-height: 1;
}

.single-course-topics .ant-list-item {
    padding: 5px 0;
    border-bottom: 1px solid #f0f0f0;
}

.single-course-topics .ant-list-item-meta-title a {
    font-size: 15px;
}

.single-course-back-link {
    display: block;
    margin-top: 16px;
    text-align: center;
    font-size: 12px;
}

.ant-drawer-header {
    background-color: #fafafa;
}

.ant-drawer-title {
    font-size: 20px;
}

.ant-form-item {
    margin-bottom: 16px;
}

.single-course-action-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 576px) {
    .single-course-card {
        padding: 16px;
    }

    .single-course-name {
        font-size: 24px;
    }

    .single-course-description {
        font-size: 14px;
    }

    .single-course-back-link {
        font-size: 14px;
    }

    .ant-drawer-title {
        font-size: 18px;
    }

    .single-course-action-buttons button {
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .single-course-card {
        padding: 20px;
    }

    .single-course-name {
        font-size: 26px;
    }

    .single-course-description {
        font-size: 15px;
    }

    .single-course-back-link {
        font-size: 15px;
    }
    .ant-drawer-title {
        font-size: 19px;
    }
}
